{% extends "base.html" %}


{% block content %}
<st
<div  class="container" class="mx-auto" style="padding-top:150px"  style="height: 500px;" style="width: 500px;" >
	<div class="row">
		<div class="col-sm-4">
				<div class="container" style="height: 150px;"> 
				<div  class="col-sm-4" class="mx-auto" style="padding-top:20px" >
					<button type="button" class="btn btn-primary">login</button>
				</div>
				<div class="col-sm-4" class="mx-auto" style="padding-top:20px">
					 <button type="button" class="btn btn-primary">register</button>
				</div>
				<div class="col-sm-4" class="mx-auto" style="padding-top:20px">
					<button type="button" class="btn btn-primary">donate</button>
				</div>
			</div>
			
		</div>

		<div class="col-sm-8">
			<p class="largeWriting">
				Welcome to Thutofies Learner's assisting tool
			</p>

			<p class="smallWriting">
				Learn mathematics, physical science, English and many more 
			</p>
		</div>
	</div>
</div>

{% endblock %}



